@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Android';
  src: url('/fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

a.externo::after {
  content: '\00A0\1F517';
  font-size: 0.8em;
  margin-left: 2px;
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  background-color: var(--cor4);
  min-height: 150px;
  text-align: center;
  padding: 40px;
}

header > h1 {
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

header > p {
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  max-width: 80%;
  margin: auto;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav > a {
  color: var(--cor1);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}

nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

main {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.449);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

main h1 {
  font-family: var(--fonte-android);
  color: var(--cor5);
  font-weight: normal;
}

main h2 {
  color: var(--cor4);
  font-family: var(--fonte-android);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), var(--cor3));
  text-indent: 10px;
  font-weight: normal;
}

main p {
  margin: 20px 0;
  text-align: justify;
  text-indent: 30px;
  font-size: 1.1em;
  line-height: 1.8em;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a {
  color: var(--cor5);
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor0);
  padding: 2px 5px;
}

main a:hover {
  background-color: var(--cor3);
  color: white;
}

main img {
  max-width: 100%;
}

main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

div.video {
  background-color: var(--cor5);
  margin: 0 -20px 30px -20px;
  padding: 20px;
  padding-bottom: 57%;
  position: relative;
}

div.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor0);
  border: 2px solid var(--cor3);
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

aside h3 {
  background-color: var(--cor3);
  color: white;
  padding: 10px;
  margin: -15px -15px 10px -15px;
  border-radius: 8px 8px 0 0;
}

aside ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

footer {
  background-color: var(--cor5);
  text-align: center;
  color: white;
  font-size: 0.9em;
  padding: 10px;
display: block;
margin-top: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}